<div bgcolor="#ffffff" style="padding:30px 0;margin:0; font-family:Arial, sans-serif;font-size:12pt;">
<div style="padding-left:30px">
    <img src="http://mobispot.com/themes/mobispot/images/mail/mobispot.png"/>
</div>
<br /><br />
<div>
    {% set data = result.data %}
    {% set terms = result.terms %}
    <h2 style="color: #0062ff;font-size:1em;">
        {{result.firm.name}}<br />
        {{result.type['templ_name']}}<br />
        {{result.interval['templ_name']}} отчет, {{ result.interval['templ_interval'] }} (по часовому поясу "{{result.tz_name}}")
    </h2>
    {% block body %}{% endblock %}
</div>
<table style="margin-top:40px; width:660px; padding:0 30px" >
    <tr>
        <td rowspan="2" style="text-align:left;align:left;">&copy; Mobispot. Ltd. All rights reserved<br>
            sales@mobispot.com<br>
        </td>
    </tr>
</table>
</div>