<div class="m-block" ng-controller="PersonController">
    <form name="eventForm" class="custom">
        <div class="row"
            ng-init="common_event.id={{common_event.id|replace("None", 0)}};common_event.person_id={{person.id}}">
            <div class="large-8 columns">
                <div class="content-row"
                    ng-init="common_event.term_event_id='{{term_event.id}}'">
                    <label for="type-event">Событие*</label>
                    <select id="type-event"
                        class="large"
                        min="1"
                        ng-model="common_event.term_event_id"
                        required>
                        {% for row in term_events %}
                            {% if row.term.hard_id %}
                            <option
                                {% if row.id == term_event.id %} selected {% endif %}
                                value="{{row.id}}" ng-init="persontTimeout[{{row.id}}]={{row.timeout}}">
                                №{{row.term.hard_id}}, {{row.term.name}}, {{row.event.name}}, {{row.timeout}} мин
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="content-row g-clearfix">
            <label for="time-out">Тайм-аут (в минутах)*</label>
            <input id="time-out"
                class="f-input-small left"
                minlength="1"
                maxlength="5"
                type="text"
                ng-init="common_event.timeout=persontTimeout[common_event.term_event_id]"
                ng-model="common_event.timeout"
                required>
            <div class="time-options left">
                &larr;
                <span>
                    <a ng-click="common_event.timeout=240" ng-class="{selected: common_event.timeout==240}">4 часа</a> / 
                    <a ng-click="common_event.timeout=480" ng-class="{selected: common_event.timeout==480}">8 часов</a> / 
                    <a ng-click="common_event.timeout=720" ng-class="{selected: common_event.timeout==720}">12 часов</a> / 
                    <a ng-click="common_event.timeout=1440" ng-class="{selected: common_event.timeout==1440}">Сутки</a>
                </span>
            </div>
        </div>
    </form>

    <div class="content-row g-clearfix">
        <a ng-click="saveCommonEvent(common_event, eventForm.$valid)"
            class="f-spot-button">
            <span>Сохранить</span>
        </a>
    </div>
</div>