<div id="common-properties" class="content">
    {% if term_events %}
    <div>
        <br />
        <span ng-init="common_type={{common_type}}"></span>
        <span ng-init="common_wallet.id={{common_wallet.id | replace("None", 0)}}"></span>
        <div class="content-row g-clearfix pad_b_0">
            <p class="m-hint">Вы можете выбрать способ управления событиями</p>
            <ul class="radio-list radio-list__content">
                <li ng-class="{active: common_type==0}">
                    <a class="radio-link">
                        <i class="large"></i>По таймауту
                    </a>
                </li>
                <li ng-class="{active: common_type==1}"
                    ng-click="common_type=1">
                    <a class="radio-link">
                        <i class="large"></i>Корпоративный кошелек
                    </a>
                </li>
            </ul>
        </div>
        <div ng-show="common_type" class="animate-show">
            <div class="cover"></div>
            <div class="wallet-options animate-show" ng-hide="common_wallet.id">
                <div class="content-row">
                    <p class="hint-txt">Для того что бы задействовать корпоративный кошелёк, введите лимит операций для данного человека, а так же укажите сбрасывать ли лимит.<br />
                    Минимальный лимит 100 рублей, максимальный квартальный 300000, максимальный месячный и разовый 100000, недельный 2500, дневной 1000.</p>
                </div>
                <span ng-init="common_wallet.type={{common_wallet.interval}};common_wallet.limit={{common_wallet.limit/100}}"></span>
                <form name="myForm" class="custom">
                    <div class="content-row left g-clearfix pad_b_0">
                        <label for="amount-limit">Сумма*</label>
                        <input id="amount-limit"
                            name="common_wallet_limit"
                            maxlength="6"
                            minlength="3"
                            ng-minlength="3"
                            ng-maxlength="6"
                            type="number"
                            ng-model="common_wallet.limit"
                            ng-keypress="($event.keyCode == 13)?saveCommonWallet(common_wallet, myForm.$valid):''"
                            required>
                    </div>
                    <div class="content-row left">
                        <label for="type-limit">Лимит</label>
                        <select id="type-limit" class="medium"
                            ng-model="common_wallet.interval"
                            ng-init="common_wallet.interval={{common_wallet.interval}}">
                            {% for interval in common_wallet_interval %}
                            <option value="{{interval['id']}}" {% if interval['id'] == common_wallet.interval %} selected {% endif %} >
                                    {{interval['name']}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="content-row">
                        <p class="hint-txt">Как только баланс на кошельке станет меньше 40 рублей, человек будет заблокирован.
                        Разблокировать его можно вручную, введя сумму на которую необходимо пополнить кошелёк или же он разблокируется автоматически в зависимости от типа лимита (например, первого числа следующего месяца для месячного лимита)</p>
                    </div>
                    <div class="content-row  g-clear-b">
                        <a class="f-spot-button"
                            ng-click="saveCommonWallet(common_wallet, myForm.$valid)">
                            Сохранить
                        </a>
                    </div>
                </form>
            </div>

            <div id="wallet-info" class="animate-show" ng-show="common_wallet.id">
                {% include 'term/person/wallet/_common_view.html' %}
            </div>
        </div>
    </div>
    <div id="person-type"></div>
    <br/>
    <div class="content-row">
    </div>

    <div class="content-row f-main-slide-link">
        <div class="toggle-active">
            <a id="event" class="loc-link f-spot-button small">
                + Добавить событие
            </a>
        </div>
    </div>
    <div id="eventForm" class="slide-box slide-setting">
        {% include 'term/person/_common_event_form.html' %}
    </div>
    <table class="m-spot-table" id="table_event">
        <thead>
        <tr>
            <th>Терминал</th>
            <th>Событие</th>
            <th>Таймаут (мин)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for common_event in common_events %}
            {% include 'term/person/_common_event_row.html' %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="content-row">
         <p class="m-hint">У компании нет ни одного терминала. Что бы добавить событие - добавьте новый терминал.</p>
    </div>
    {% endif %}
    
</div>