<tr id="c-event-{{common_event.id}}" class="m-t-cont-row event-row {{common_event.status}}">
    <td>№{{common_event.term.hard_id}}, {{common_event.term.name}}</td>
    <td>{{common_event.event.name}}</td>
    <td>{{common_event.timeout}}</td>
    <td>
        <a class="control-link notice-created" ng-click="removeCommonEvent({{common_event.id}}, $event)">Удалить</a>
        <span class="notice-new">События создаются</span>
        <span class="notice-removing">События удаляются</span>
    </td>
</tr>