<div class="content-row" ng-init="common_wallet.id={{common_wallet.id}}">
    <h6>Состояние:</h6>
    <table class="m-session-table">
        <tr>
            <td>Платежный лимит</td>
            <td>{{common_wallet.limit/100}}</td>
        </tr>
        <tr>
            <td>Сбрасывать лимит</td>
            <td>{{common_wallet_interval[common_wallet.interval]['name']}}</td>
        </tr>
    </table>
</div>
<div class="content-row g-clear-b wallet-controls {{common_wallet.status}}">
    <a class="f-spot-button notice-created" ng-click="editCommonWallet(common_wallet)">Изменить лимит</a>
    <a class="f-spot-button notice-created" ng-click="removeCommonWallet(common_wallet)">Удалить</a>
    <span class="notice-new">Кошельки создаются</span>
    <span class="notice-removing">Кошельки удаляются</span>
</div>
<br/>