<span ng-init="person.type={{person.type}}"></span>
<span ng-init="corp_wallet.id={{corp_wallet.id | replace("None", 0)}}"></span>
<div class="content-row g-clearfix pad_b_0">
    <p class="m-hint">Вы можете выбрать способ управления событиями</p>
    <ul class="radio-list radio-list__content">
        <li ng-class="{active: person.type==0}"
            ng-click="person.type=0">
            <a class="radio-link">
                <i class="large"></i>По таймауту
            </a>
        </li>
        <li ng-class="{active: person.type==1}"
            ng-click="person.type=1">
            <a class="radio-link">
                <i class="large"></i>Корпоративный кошелек
            </a>
        </li>
    </ul>
</div>
<div ng-show="person.type" class="animate-show">
    <div class="cover"></div>
    <div class="wallet-options animate-show" ng-hide="corp_wallet.id">
        <div class="content-row">
            <p class="hint-txt">Для того что бы задействовать корпоративный кошелёк, введите лимит операций для данного человека, а так же укажите сбрасывать ли лимит.<br />
            Минимальный лимит 100 рублей, максимальный квартальный 300000, максимальный месячный и разовый 100000, недельный 2500, дневной 1000.</p>
        </div>
        <span ng-init="corp_wallet.type={{corp_wallet.interval}};corp_wallet.person_id=person.id;corp_wallet.limit={{corp_wallet.limit/100}}"></span>
        <form name="myForm" class="custom">
            <div class="content-row left g-clearfix pad_b_0">
                <label for="amount-limit">Сумма*</label>
                <input id="amount-limit"
                    name="corp_wallet_limit"
                    maxlength="6"
                    minlength="3"
                    ng-minlength="3"
                    ng-maxlength="6"
                    type="number"
                    ng-model="corp_wallet.limit"
                    ng-keypress="($event.keyCode == 13)?saveCorpWallet(corp_wallet, myForm.$valid):''"
                    required>
            </div>
            <div class="content-row left">
                <label for="type-limit">Лимит</label>
                <select id="type-limit" class="medium"
                    ng-model="corp_wallet.interval"
                    ng-init="corp_wallet.interval={{corp_wallet.interval}}">
                    {% for interval in corp_wallet_interval %}
                    <option value="{{interval['id']}}" {% if interval['id'] == corp_wallet.interval %} selected {% endif %} >
                            {{interval['name']}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="content-row">
                <p class="hint-txt">Как только баланс на кошельке станет меньше 40 рублей, человек будет заблокирован.
                Разблокировать его можно вручную, введя сумму на которую необходимо пополнить кошелёк или же он разблокируется автоматически в зависимости от типа лимита (например, первого числа следующего месяца для месячного лимита)</p>
            </div>
            <div class="content-row  g-clear-b">
                <a class="f-spot-button"
                    ng-click="saveCorpWallet(corp_wallet, myForm.$valid)">
                    Сохранить
                </a>
            </div>
        </form>
    </div>

    <div id="wallet-info" class="animate-show" ng-show="corp_wallet.id">
        {% include 'term/person/wallet/_view.html' %}
    </div>
</div>