.m-result
{
    position: fixed;
    z-index: 99;
    top: -6px;
    left: 0;

    display: none;

    width: 100%;
    height: 0;

    text-align: center;
}

.m-result p
{
    font-family: Mobispot, Arial, sans-serif;
    font-size: 16px;

    display: inline-block;

    margin-bottom: 0;
    padding: 10px 11px 6px;

    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #12ad51;
}

.m-negative p
{
    background-color: #ff2400;
}

.sub-nav .f-spot-button.small
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    height: 30px;
    padding: 5px 10px;
}

.sub-nav .f-spot-button:hover
{
    font-family: Arial, sans-serif;
}

.sub-nav
{
    font-size: 18px;

    display: block;
    overflow: hidden;

    width: auto;
    margin: -.25em 0 1.125em;
    margin-right: 0;
    margin-left: -.5625em;
    padding-top: .25em;
}
.sub-nav dt,
  .sub-nav dd
{
    font-size: .875em;
    font-weight: normal;

    display: inline;
    float: left;

    margin-bottom: .625em;
    margin-left: .5625em;
}
.sub-nav dt a,
    .sub-nav dd a
{
    cursor: pointer;
    text-decoration: none;

    color: #000;
}
.sub-nav dt.active a,
    .sub-nav dd.active a
{
    font-weight: bold;

    padding: .1875em .5625em;

    cursor: default;

    color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #0061ff;
}


.f-spot-button
{
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none !important;
}

.animate-show
{
    -webkit-transition: opacity 600ms ease-out;
       -moz-transition: opacity 600ms ease-out;
         -o-transition: opacity 600ms ease-out;
            transition: opacity 600ms ease-out;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove
{
    display: block!important;
}

.animate-show.ng-hide
{
    line-height: 0;

    opacity: 0;
}

.f-email-case
{
    margin-top: 10px;
}

input.report-picker {
    border: none;
    font-family: Mobispot,Arial,sans-serif;
    font-weight: 100;
    font-size: 1.4375em;
    margin-top:3px;
    outline:none;
    cursor:pointer;
    box-shadow: none;
    max-width: 200px;
    min-width: 200px;
}

input.report-picker:focus {
    background: transparent;
    outline:none;
}

div.right-center-wrapper {
    position: relative;
    float: right;
    right: 50%;
}

div.left-center {
    position: relative;
    float: left;
    left: 50%;
}

div.ui-dialog.ui-widget.ui-widget-content div.ui-dialog-buttonpane.ui-widget-content {
    border-radius: 0px;
    width: 100%;
}

span.ui-icon.ui-icon-closethick {
    background-image: url('../img/ui-icons_888888_256x240.png');
    background-position: -96px -128px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#dialog-question {
    font-size: 16px;
}

/* datepicker  (/report/company)*/

#ui-datepicker-div .ui-datepicker-calendar td a {
    display: block;
    width:100%;
    line-height:1.1em;
    text-align: right;
    
}

#ui-datepicker-div .ui-datepicker-calendar th span{
    display: block;
    width:100%;    
}

#ui-datepicker-div .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-next {
    width: 1.6em;
    height: 1.6em;
}

#ui-datepicker-div .ui-datepicker-next:hover{
    background: url('../img/icons.28x2.png') no-repeat scroll 0% 0% / 100% auto #0061FF;
    background-position: 3px -15px;
}

#ui-datepicker-div .ui-datepicker-prev:hover {
    background: url('../img/icons.28x2.png') no-repeat scroll 0% 0% / 100% auto #0061FF;
    background-position: 0px 7px;
}
/* end datepicker */

/* daterangepicker */

.daterangepicker td.available {
    cursor: pointer;
}

.daterangepicker td.available {
    cursor: pointer;
}

.daterangepicker td.available:hover {
    background: none repeat scroll 0% 0% #0061FF;
}

.daterangepicker {
    border: 1px solid #AAA;
    padding: 0.2em;
}

.daterangepicker th i.icon-arrow-left, .daterangepicker th i.icon-arrow-right {
    position: relative;
    display: block;
}
.daterangepicker thead {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
}

.daterangepicker table tr th{
    border:none;
}

.daterangepicker thead tr {
    background: #CCC;
    padding-top:5px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.daterangepicker div.calendar {
    overflow: hidden;
    border: 1px solid #AAA;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
/*end daterangepicker */


.m-spot-table th.sortable span:after{
    border: none;
}

.m-spot-table th.sortable.asc span:after{
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:6px solid #2f2f2f;
}

.m-spot-table th.sortable.desc span:after{
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #2f2f2f;
}

.m-spot-table th.not-sortable {
    cursor: default;
}

.hint:after, [data-hint]:after {
    border-radius:10px;
    padding:16px 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial;
}

.hint--info:after {
    background-color: #cfdbe7;
    text-shadow: none;
    color: black;
    box-shadow:none;
}

.hint--info.hint--top:before {
    border-top-color: #cfdbe7;
}

.hint:before, [data-hint]:before {
    border: 8px solid transparent;
    top:10px;
}

.hint--top:after, .hint--top:before {
    left: 23%;
    bottom: 80%;
}

.hint--bottom:after, .hint--top:after {
    margin-left: -128px;
}

th[data-hint] {
    display:table-cell;
}

.time-options {
    position:relative;
    top:17px;
}

.time-options a {
    cursor:pointer;
}

.time-options a.selected {
    color: #0061FF;
}

.time-options span {
    display:inline-block;
    border-bottom:1px dashed #000;
}

.hint--top.hint--lefted:after, .hint--top.hint--lefted:before {
    left: -20px;
    bottom: 80%;
}

.hint--lefted[data-hint]:before {
    margin-left: 40px;
}

.cursor_default {
    cursor: default;
}

td span.disabled {
    color: #E9EDF2;
}

#add-for-all {
    margin: 0;
}

#add-for-all.active {
    background-color: #0061FF;
    color: #FFF;
}

.no-padding {
    padding: 0 !important;
}

.have-cover {
    position: relative;
}

.cover{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.8);
}

.have-cover.covered .cover {
    display: block;
}

.m-spot-table tbody tr.event-row {
    cursor: default;
}

a.control-link{
    color: #0061FF;
    cursor: pointer;
    font-weight: bold;
}

.m-spot-table .m-t-cont-row:hover.event-row td {
    color: #000;
    background: #eee;
}

.wallet-controls .notice-new, .wallet-controls .notice-removing {
    display: inline-block;
    background: #f9f9f9;
    padding:15px;
    border-radius:10px;
}

.new .notice-created, .new .notice-removing,
.created .notice-new, .created .notice-removing,
.removing .notice-new, .removing .notice-created
{
    display: none !important;
}

