


.m-header-page{
	padding: 25px 0 27px;
	height: 91px;
}
.m-header-page a{
	color: #000;
	font-size: 18px;
	margin: 32px 0;
	font-family: Mobispot, Arial, sans-serif;
}
.m-header-page a:hover{
	color: #0061FF;
}
.m-header-page .m-logo{
	font-size: 44px;
}
.m-nav-page h5{
	text-transform: uppercase;
	margin:0;
	height: 10px;
	height: 24px;
}
.m-nav-page ul{
	margin-bottom: 12px;
}
.m-nav-page li{
	line-height: 22px;
}
.m-nav-page a{
	font-size: 18px;
	font-family: Mobispot, Arial, sans-serif;
}
.m-content-block p.m-hint{
	display: block;
	margin: 0;
}
.m-grid-search{
	padding: 0 40px;
}
.m-grid-search{
	position: relative;
}
.m-grid-search input{
	background: #E9EDF2;
	height: 50px;
	border: 0;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 65px;
	margin-bottom: 2em;
}
.m-grid-search:after{
	content: '';
	display: block;
	background: url(../img/icons.2x.png) no-repeat;
	background-size: 100%;
	height: 28px;
	width: 27px;
	position: absolute;
	top:12px;
	left: 70px;
}
.lt-ie9 .m-grid-search:after{
	background: url(../img/icons.png) no-repeat;
}
.m-spot-table{
	width: 100%;
	border: 0;
}
.m-spot-table td{
	padding: 14px 40px 14px 0;
}
.m-spot-table th{
	padding: 15px 40px 15px 0;
	position: relative;
}
.m-spot-table td:first-child,
.m-spot-table th:first-child{
	padding-left: 40px;
}
.m-spot-table tbody tr{
	cursor: pointer;
}
.m-spot-table th{
	background: #F8F9F9;
	font-size: 18px;
	font-family: Mobispot, arial, sans-serif;
	font-weight: 100;
}
.m-spot-table th span{
	display: inline-block;
	position: relative;
}
.m-spot-table th{
	cursor: pointer;
}
.m-spot-table th span:after{
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:6px solid #2f2f2f;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -3px;
}

.m-spot-table th.active{
	color: #0061FF;
}
.m-spot-table th.active span:after{
	border-top:6px solid #0061FF;
}
.m-spot-table th.no-arr span:after{
	border: 0;
}
.m-spot-table th.no-arr{
	cursor: default;
}
.m-card-act{
	display: block;
	height: 32px;
	width: 32px;
	background: #0061FF url(../img/icons.32x2.png) no-repeat 0 9px;
	background-size: 100%;
	position: relative;
}
.m-event{
	display: inline-block;
	line-height: 32px;
	height: 32px;
	width: 32px;
	color: #FFF;
	font-family: Mobispot, arial, sans-serif;
	font-size: 16px;
	background: #0061FF;
	background-size: 100%;
	text-align: center;
	position: relative;
}
.m-event-normal{
	background: #0061FF;
}
.m-event-error{
	border: 4px solid #F00;
	background: #FFF;
}
.lt-ie9 .m-card-act{
	background: #0061FF url(../img/icons.32.png) no-repeat 0 9px;
}
.m-card-act.active{
	background-position: 0 -37px;
}
.m-spot-table .m-t-cont-row:hover td{
	color: #FFF;
	background: #0061FF;
}

.m-spot-table tr:hover .m-card-act{
	background-color: #fff;
	background-position: 0 -13px;
}
.m-spot-table tr:hover .m-event{
	color: #0061FF;
	background-color: #FFF;
}
.m-spot-table tr:hover .m-event-normal{
	color: #0061FF;
	background-color: #FFF;
}
.m-spot-table.simple-table tr:hover .m-card-act{
	background-color: #0063ff;
	background-position: 0 9px;
}
.m-spot-table tr:hover .m-card-act.active{
	background-position: 0 -58px;
}
.m-spot-table.simple-table tr:hover .m-card-act.active{
	background-color: #0063ff;
	background-position: 0 -37px;
}
.m-spot-table .pagination{
	margin: 0;
	height: auto;
}
.m-page-name{
	margin-top: 0;
	line-height: 32px;
	margin-bottom: 22px;
	font-size: 1.8em;
}
.m-page-name .block-nav a,
.m-page-name .block-nav span{
	font-size: 14px;
}
.m-page-name .block-nav a:after{
	content: '>';
	margin: 0 5px;
	position: relative;
	top: 1px;
}
.m-page-name .f-spot-button,
.m-page-name .f-spot-button.bg-red{
	background-color: #fff;
}
.m-content-page{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}
.m-t-nothing,
.m-spot-table .m-t-cont-row:hover .m-t-nothing{
	background: #f8f9f9;
	color: #000;
}
.m-spot-table:last-child{
	margin-bottom: 0;
}
.m-content{
	padding-bottom: 100px;
}
.m-table-wrapper table{
	border: 0;
	margin: 0;
}
.m-table-wrapper {
	border: 1px solid #F8F9FA;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
}
.m-table-wrapper td,
.m-table-wrapper th{
	padding: 15px;
}
.m-table-wrapper th{
	font-family: Mobispot, arial, sans-serif;
	font-weight: 100;
}
.m-hint + .m-table-wrapper{
	margin-top: 35px;
}
.m-row-h{
	padding-bottom: 0 !important;
}
.popup{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(230, 230, 230);
	background: rgba(230, 230, 230, 0.81);
	z-index: 99;
}
.popup-content{
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	text-align: center;
}
#popup-exception #add-exception{
	display: block;
}
#popup-staff #add-staff{
	display: block;
}
.popup-window{
	width: 447px;
	background: #fff;
	position: relative;
	left: 50%;
	margin-left: -223px;
	margin-top: 6%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 25px 40px;
	text-align: left;
	margin-bottom: 5%;
}
.popup-window .content-row{
	padding: 0 0;
	clear: both;
}
form.custom:first-child{
	padding-top: 35px !important;
}
.close-popup{
	font-family: Mobispot-icon;
	color: #CBCBCB;
	font-size: 16px;
}
.close-popup:hover{
	color: #0061ff;
}
.popup-window .close-popup{
	position: absolute;
	right: 40px;
	top: 35px;
}
.popup-window .f-input-small{
	margin-right: 0;
}
.popup-window .m-grid-search:after{
	left: 19px;
}
.persons-list{
	padding-top: 0;
	margin: 0 0 28px;
}
.persons-list > ul{
	margin: 10px -40px;
	padding: 10px 40px;
	background: #F8F9F9;
	height: 200px;
	overflow: auto;
}
.persons-list label{
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 2px;
	height: 20px;
	position: relative;

}
.persons-list h6 label{
	font-size: 18px;
	font-weight: 600;
	font-family: Mobispot, arial, sans-serif;
	color: #0061ff;
}
.custom.checkbox{
	font-size: 16px;
}
.f-spot-button + .f-spot-button{
	margin-left: 20px;
}
.f-spot-button.small + .f-spot-button.small{
	margin-left: 10px;
}
.f-spot-button_plus{
	font-size: 44px !important;
	line-height: 24px;
}
.f-spot-button_plus.medium{
	font-size: 34px !important;
}
.f-spot-button_plus.small{
	font-size: 24px !important;
}
.block-center{
	display: table;
	height: 100%;
	padding-bottom: 0;
	padding-top: 1em;
}
.error-message{
	width: 500px;
	background-size: 100%;
	height: 434px;
	margin: -30px 0 0;
	float: right;
	position: relative;
}
.error-message img{
	width: 500px;
	position: absolute;
	right: 0;

}
.error-text-block{
	height: 252px;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	white-space: nowrap;
	position: relative;
}
.error-text-block h1{
	color: #fff;
	font-size: 70px;
	margin: 7px;
	line-height: 68px;
	text-align: center;
	width: 237px;
	float: left;
}
.error-text-block p{
	font-size: 18px;
}
.error-code{
	color: #A7A7A7;
	font-size: 88px;
	display: block;
	float: left;
	width: 190px;
	text-align: center;
	font-weight: 700;
	line-height: 82px;
}
.singlebox-margin {
	margin: 3em 0 0;
}
.p-error-txt p {
	margin: 42px 0 50px;
}
.f-select-terminal a{
	display: block;
	float: left;
	clear: both;
	margin-top: 10px;
}
.f-select-terminal a:first-child{
	margin-top: 0;
}
.slide-content{
	display: none;
}
.slide-setting{
	display: none;
	background: #F8F9F9;
	clear: both;
	padding: 25px 40px;
	margin-bottom: 25px;
}
.loc-link{
	font-size: 14px;
	border-bottom: 1px dashed;
	margin-top: 8px;
	display: inline-block;
	position: relative;
}
.loc-link:after{
	content: '';
	display: block;
	position: absolute;
	right: -10px;
	top: 6px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #000;
}
.loc-link.active:after,
.loc-link:hover:after{
	border-top: 4px solid #0063ff;
}
.f-form-filter form.custom{
	padding: 0 !important;
	overflow: hidden;
	margin: 0;
}
.slide-box{
	display: none;
}
.f-main-settings-block{
	box-shadow:  0 1px 0 1px #0063ff;
	padding-bottom: 20px;
	padding-top: 20px;
}
.f-main-slide-link{
	margin-top: -16px;
	padding-top: 0 !important;
}
.f-main-slide-link a{
	font-size: 14px;
	padding-bottom: 2px;
}
.f-main-slide-link a.loc-link:after{
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #000;
	right: -11px;
	top: 6px;
}
.f-main-slide-link a.loc-link:hover:after,
.f-main-slide-link a.loc-link.active:after{
	border-top-color:  #0063ff;
}
.f-main-slide-link{
	padding-bottom: 1px !important;
}
.f-content-row_button{
	margin-top: 20px;
}
.content .m-row-h{
	padding-top: 25px !important;
}
.content-row:first-child .m-hint{
	padding-top: 25px;
	margin-top: 0;
	margin-bottom: 0;
}
.content-wrap{
	padding-top: 25px !important;
}
.m-session-table{
	border: 0;
}
.m-session-table td:last-child{
	font-weight: 600;
}
.m-session-table td{
	height: 30px;
}
.m-spot-table .g-color-red{
	font-weight: 600;
}
.session-negative{
	background: #F00;
}
.session-negative td{
	color: #fff;
}
.content-separation .m-session-table{
	font-size: 14px;
	margin-bottom: 0;
}
.content-separation h6{
	font-weight: 600;
	font-size: 14px;
	font-family: arial;
	margin-top: 0;
	margin-bottom: 5px;
}
.content-separation .right{
	padding-bottom: 0 !important;
}
.row-separation-l{

}
.content-separation .loc-link.f-spot-button{
	margin-top: 39px;
}
.mess-bottom{
	background: rgba(255, 255, 255, 0.95);
	background: rgb(255, 255, 255);
	opacity: 0.7;
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 99;
	padding: 20px 0;

}
.mess-bottom:hover{
	opacity: 1;
}
.dropdown .options{
	display: none;
	margin-left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior:  url(/css/PIE.htc);
	overflow: hidden;
	margin:-3px 0 14px;
	opacity: 0;
	-moz-opacity: 0;
	opacity:0;
	filter: alpha(opacity=0);
	width: 100%;
}
.dropdown .spot-button{
	-webkit-transition: opacity 600ms ease-out;
	-moz-transition: opacity 600ms ease-out;
	-o-transition: opacity 600ms ease-out;
	transition: opacity 600ms ease-out;
	position: relative;
	padding-right: 12px;
}
.dropdown:hover .spot-button{
	color: #0063ff;
}

.dropdown .spot-button:after{
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	right: 0;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #000;
}
.dropdown:hover .spot-button:after{
	border-top: 5px solid #0063ff;
}
.dropdown:hover .options{
	display: block;
	opacity: 1;
	-moz-opacity: 1;
	opacity:1;
	filter: alpha(opacity=100);
	background: #fff;
	margin-top: 7px;
	overflow: hidden;
}
.dropdown:hover .options ul{
	background: #fff;
}
.dropdown .options li{
	display: block;
	margin-right: 0;
}
.dropdown .options a{
	color: #000;
	display: block;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 3px 11px;
	margin: 0;
}
.dropdown .options li:first-child a{
	padding-top: 6px;
}
.dropdown .options li:last-child a{
	padding-bottom: 6px;
}
.dropdown .options li a:hover{
	color: #0062ff;
}
.dropdown{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 31px;
	z-index: 10;
}
.m-spot-table.simple-table tr:hover td{
	background: none;
	color: #000;
	cursor: default;
}
.table-control a{
	margin: 6px 0;
	display: block;
	font-size: 11px;
	background: #E9EDF2;
	padding: 4px 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

}
table tr:nth-of-type(2n) .table-control a{
	background: #fff;
}
.table-control a:hover,
table tr:nth-of-type(2n) .table-control a:hover{
	background: #0063ff;
	color: #fff;
}
.txt-s{
	font-size: 12px;
}
.radio-list,
.checkbox-list {
	clear: both;
	overflow: hidden;
}

.checkbox-list .checkbox{
	display: inline-block;
	float: left;
	clear: both;
}
.checkbox-list_3{
	overflow: hidden;
}
.checkbox-list_3 .checkbox{
	width: 30%;
	display: block;
	float: left;
}
.sub-slide-box {
	display: none;
	border-top: 2px solid #FFF;
}
.nav-bar_form .open{
	display: none;
}
.nav-bar_form .f-spot-button{
	margin: 0 20px 0 0;
}
.step_nav h6{
	font-size: 14px;
	color: #B0B3B5;
}
.nav-bar_form{
	padding-bottom: 7px !important;
}
.period-select{
	margin: 0;
	height: 20px;
	margin-top: 2px;
	margin-top: 4px;
}
.period-select dd {
	overflow: hidden;
	margin-bottom: 0;
}
.period-select div{
	display: inline-block;
}
.period-select .f-spot-button.small{
	height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
	margin-left: 5px;
}
}
.period-select dd{
	display: inline-block;
	margin: 0;
	float: right;
}

.t-date{
	vertical-align: top;
	padding-top: 26px !important;
	font-size: 15px;
}
.page-report{
	background: #fff;
}
.page-report .row{
	max-width: 100%;
}
.page-report .columns{
	padding: 0 60px;
}
.report-control{
	position: fixed;
	top:0;
	left: 0;
	background: rgb(233, 237, 242);
	background: rgba(233, 237, 242, 0.95);
	width: 100%;
	padding: 10px 60px;
	z-index: 10;
}
.report-control .f-spot-button{
	margin-top: 0;
	margin-bottom: 0;
	background: #fff;
}
.report-control .f-spot-button:hover{
	color: #fff;
	background: #0061ff;
}
.report-body{
	padding-top: 45px;
}
.report-body .table-wrapper{
	border: 1px solid #F8F9FA;
	border-radius: 5px;
	margin: 20px 0;
}
.report-body table{
	width: 100%;
	border: 0;
	margin-bottom: 0;
}
.report-body thead td{
	padding: 10px 30px;
}
.report-body td{
	padding: 10px 30px;
}
.report-descriptions{
	color: #838383;
	font-size: 14px;
}
.wallet-block{
	margin-bottom: 50px;
	position: relative;
	padding-left: 32px;
}
.wallet-block .content-row.left + .content-row.left{
	padding-right: 0 !important;
}
.wallet-block table{
	width: 100%;
	border: 0;
}
.wallet-block.disable .cover{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
}
.wallet-block.disable,
.wallet-block.disable label,
.wallet-block.disable td{
	color: #7F7F7F !important;
}
.wallet-block.disable input,
.wallet-block.disable .f-spot-button,
.wallet-block.disable .dropdown{
	opacity: .5;
}
.radio-list li{
	cursor: pointer;
}
.hint-txt{
	font-size: 14px;
	clear: both;
}
.block-table .row{
	margin: 0 !important;
}
.block-table .columns{
	padding-left: 40px;
}
.block-table .large-10 {
	padding-right: 40px;
}
.block-table_content{
	padding: 14px 0 4px;
}
.block-table_content li{
	font-size: 14px;
}
.block-table_title {
	background: #F8F9F9;
	font-size: 18px;
	font-family: Mobispot, arial, sans-serif;
	font-weight: 100;
	padding: 15px 0 15px;
	position: relative;
}
.block-table_title li{
	padding: 0;
}
.block-table_title ul{
	margin: 0;
}
.block-table_title li span{
	position: relative;
	cursor: pointer;
	margin-right: 6px;
}
.block-table_title li span:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-top: 6px solid #2F2F2F;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -3px;
}
.block-table_title li.active span{
	color: #0061ff;
}
.block-table_title li.active span:after{
	border-top-color: #0061ff;;
}
.block-table .row:nth-child(odd) {
	background-color: #F8F9F9;
}
.block-table .pagination{
	margin-bottom: 10px;
}
.report-date li{
	text-align: center;
	padding-right: 0;
}